@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Lexend:wght@300&display=swap');
.sec1 {
  background-image: url('/assets/matrix.svg');
  background-size: cover;
  background-position: bottom;
}

.bar {
  z-index: 90;
}

.glow {
  text-shadow: 0px 0px 15px white;
}

.cyan-glow {
  text-shadow: 0px 0px 15px rgba(0, 255, 255, 0.511);
}

body {
  background-color: #020c0d;
  font-family: 'Lexend', sans-serif;
}

button {
  z-index: 20;
}

Image {
  width: auto;
  height: auto;
}

.line {
  box-shadow: -0px -100px 500px 300px rgba(111, 241, 255, 0.477);

  background-color: rgba(111, 241, 255, 0.697);
}

.footer {
  background-color: #031416;
}

.navbar {
  background-color: #020c0d;
  backdrop-filter: blur(32px);
}

.borderGrd {
  background:
    linear-gradient(#020c0d, #020c0d) padding-box,
    linear-gradient(to bottom, rgb(141, 141, 141), #1e1e1e) border-box;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: border 1s;
}

.borderGrd:hover {
  background:
    linear-gradient(#020c0d, #020c0d) padding-box,
    linear-gradient(to bottom, rgb(141, 141, 141), rgb(18, 159, 177)) border-box;
  border-radius: 15px;
  border: 2px solid transparent;
}

.swiper {
  width: 600px;
  height: 300px;
}

.blogBtn {
  background-color: #eefeff;
  font-family: 'Fira Mono', monospace;
}
