@tailwind base;
@tailwind components;
@tailwind utilities;

.sec1{
    background-image: url('/assets/matrix.svg');
    height: 115vh;
    background-size: cover;
    background-position: bottom;
}


.glow {
    text-shadow: 0px 0px 15px white;
}

body{
    background-color:#020C0D ;
}

button {
    z-index: 20;
}



.line {
    box-shadow: -0px -100px 500px 300px rgba(111, 241, 255, 0.477);

    background-color: rgba(111, 241, 255, 0.697);
}

.footer {
    background-color: #031416;
}

.navbar {
    background-color: #020C0D;
    backdrop-filter: blur(32px);
}

.serviceCard{
    background-image: url('/assets/services/union.svg');
    background-size: cover;
    background-position: center;
}