@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  height: 100%;
}

body {
  background-color: #020c0d;
}

/* .matrix {
  background-image: url('/assets/matrix.svg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10;
} */

.glow {
  text-shadow: 0px 0px 15px white;
}

.line {
  box-shadow: -0px -100px 500px 300px rgba(111, 241, 255, 0.477);
  background-color: rgba(111, 241, 255, 0.697);
}

.footer {
  background-color: #031416;
}

.navbar {
  background-color: transparent;
  backdrop-filter: blur(32px);
}

.borderGrd {
  background:
    linear-gradient(#020c0d, #020c0d) padding-box,
    linear-gradient(to bottom, rgb(141, 141, 141), #1e1e1e) border-box;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: border 1s;
}

.borderGrd:hover {
  background:
    linear-gradient(#020c0d, #020c0d) padding-box,
    linear-gradient(to bottom, rgb(141, 141, 141), rgb(18, 159, 177)) border-box;
}

.blogBtn {
  background-color: #eefeff;
}

.story-card-grd {
  /* background: radial-gradient(169.40% 89.55% at 94.76% 6.29%, #FFFFFF 88%, #404040 100%), */
  background: radial-gradient(#151d1f 20%, #020c0d 100%);
}
